body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background:url(https://wallpaperaccess.com/full/3802553.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}
.nav-style{
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
}
.nav-font-style{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.para-style{
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.h1-style{
    color: white;
    margin-top: 5%;
    text-align: left;
}
.h2-style{
    color: #FFC107;
    text-align: left;
    margin-top: 5%;
}
.h3-style{
    color: white;
    font-weight: bold;
}
.row-margin-top{
    margin-top: 2%;
}
.row-box-shadow{
    box-shadow: 0 9px 15px -7px grey;
}
.button-style{
    background-color: #A50044; 
    width: 100px;
    margin-right: 30px; 
    margin-bottom: 10px;
}

.button-style:hover{
    background-color: #004D98;
}

.col-style{
    margin-top: 2%;
}

.row-margin-carousel{
    margin-top: 5%;
}

.img-fluid{
    max-width: 100%;
}

.socialmedia{
    margin-right: 10px; 
    margin-left: 10px;
    margin-bottom: 20px;
}


